{% extends 'base.html' %}
{% block content %}
  <div>
 
    <h3>Browse All QQQ stocks</h3>

    <!-- search form -->
    {% if request.endpoint != None %}
        <form  action="/stocks">
           <input name="q" class="form-control" placeholder="Type Stock Symbol to Search" id="search">
          <button class="btn btn-default">
            <span class="fa fa-search"></span>
          </button>
        </form>
    {% endif %}

    <!-- stocks' table -->
    <div class="container">
        <table class="table table-hover table-bordered">
            <thead class="thead-light">
                <tr>
                    <th scope="col">SYMBOL</th>
                    <th scope="col">NAME</th>   
                </tr>
            </thead>
            <tbody>
                {% for stock in stocks %}
                <tr>
                    <td><a href="/stocks/{{stock.symbol}}">{{ stock.symbol}}</a></td>
                    <td>{{ stock.name}}</td>   
                </tr>
                {% endfor %}
            </tbody>
        </table> 
    </div>

  </div>
{% endblock %}
